%h1.uk-text-center.uk-margin-large-bottom
  = prev_date_button(@prev_meal)
  = l(@date, format: :long)+"の献立"
  = next_date_button(@next_meal)
- if controller.status == 404
  .uk-alert-warning.uk-alert-large
    献立は見つかりませんでした。
.uk-grid
  - @meals.each do |m|
    .uk-width-medium-1-3
      .uk-panel.uk-panel-box
        %h2.uk-panel-title= m.meal_type_i18n
        %ul
          - m.dishes.each do |d|
            %li= "#{d.name}#{d.calorie}"
